*{
    margin: 0;
    padding: 0;
    outline: 0;
    border-style: none;  
    text-decoration: none;
    list-style-type: none;
    /* box-sizing: border-box; */
    font: 400 15px Roboto, sans-serif;
}

html{height: 100%; }


body:not(#LeftSideMenu){
    height: 100%;
    background-color: white; 
    background-image: url(./assets/home_img/auxiliar4.png);
    background-attachment: fixed;
}

header{
    height: 176px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(./assets/home_img/logo_roxo_final.png), url(./assets/home_img/head_sem_logo_.png);
    background-size: 170px, cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color:#223330;

}
.tela_pc{
    box-sizing: border-box;
    width: 350px;
    height: 260px;
    overflow: hidden;
    border: 25px inset black;
    margin-top: 100px;
    background: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.tela_pc:nth-child(1){
    transform: rotateY(55deg);
    transform-origin:right;
    border-color:rgba(0,0,0,0.7);
    width: 200px;
    align-items: center;
}

.tela_pc:nth-child(2){
    width: 560px;
    justify-content: center;
    align-items: center;
}

.tela_pc:nth-child(1) a{
    justify-content: center;
    align-items: center;
}


.tela_pc:nth-child(2) a{
    justify-content: center;
    align-items: center;
}

.tela_pc:nth-child(3){
    transform: rotateY(-55deg);
    transform-origin:left;
    border-color:rgba(0,0,0,0.7);
     width: 200px;
    align-items: center;
    justify-content: center;

}

.tela_pc:nth-child(3) a{
    justify-content: center;
    align-items: center;
}

.tela_pc a{
    position: absolute;
    display: flex;
    align-items: center;
}


.tela_pc img{
    height: 210px;
    position: absolute;
    opacity: 0;
}

.tela_pc:nth-child(1) img,.tela_pc:nth-child(3) img {
    height: 130px;
}

.slide1,.slide2,.slide3{transform: translateX(-500px);}


.slide1.most,.slide2.most,.slide3.most{
    transform: translateX(0px);
    opacity: 1;
    transition: all 2s;
}

.slide1.past,.slide2.past,.slide3.past{
    transform: translateX(500px);
    opacity: 0;
    transition: all 2s;

}


.tela_pc img:hover{
 transform: scale(1.04);
}

.slideshow-images{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: center;
    perspective: 900px;
}

.legend{
    width: 100%; 
    display: flex; 
    justify-content: center;
    margin-top: 20px;
    
}
#lg-background{
    background: black;
    padding: 7px;
    width: 400px;
    display: flex;
    justify-content: center;
    border-radius: 100% 100% 0 0; 
    -webkit-border-radius: 100% 100% 0 0; 
}
#sobre{
    width: 80%;
    border: 1px solid black;
   height: 280px;
    overflow: hidden;
    background: white;
    margin: auto;
    margin-top: 200px;
    padding: 5px;
    position: relative;
    background:#223330;

}

#sobre p{margin-left: 10px; margin-right: 5px; margin-top: 15px; font-size: 15pt;}

#sobre h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
    background:#223330;
    color: white;

}

.btn{
    color: white;
    display: block;
    box-shadow: 5px 5px 5px grey;
    margin-left:15px;
    transition: box-shadow 1s;
}






#sobre li{
    list-style: none;
    float: left;
}
input[type="radio"]{
    display: none;
}
.text{opacity: 0; transition: opacity 0.5s;}

.text{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    margin-top: 20px;
    border-top: 1px solid black;
    background: white;
}

input[type="radio"]:checked ~ .text{opacity: 1;}
input[type="radio"]:checked ~ .btn{box-shadow:none;}

.dotted{
    background: white;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    margin:0px 5px;
    cursor: pointer;
}

.dotted.active{background: grey;}


header img{
    width: auto;
    height: 150px;
}

/* Menu CSS */
#check,#btn{ display: none; }

#menu{
    width:100%;
    display: flex; 
    background-color: #293d3e;
    justify-content: center;
}

nav, nav a{ 
    background:#293d3e;
}


nav li{
    height: 100%;
    float: left;
    margin: 15px;
}

nav li a{
    text-decoration: none;
    padding: 15px;
    font-family: sans-serif;
    color:#edf5c2;
    font-size: 12pt;
}

nav li a:hover{ background: rgba(225,225,225,0.3); }

.fixo{
    top:0px;
    z-index: 5;
    position: fixed;
}

.drop{
    top: 32px;
    left: 0px;
    z-index: 1;
    display: none;
    text-align: left;
    position: absolute;

}



#conteudo{box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.drop p { width: 100%; }

.drop p a{ width: 120px; }

.drop a{ display: inline-block; }

.dropdown{ position: relative; }

.dropdown:hover .drop{ display: inline-flex; }

@media (max-width:700px){
   nav ul{
        margin-left: 0px;
        display: none;
    }
    
   nav li{ clear: both; }
    

    
    #btn{ display: block; }
    
    #check:checked ~ #menu ul{ display: block; }
    
    #menu{ text-align: left; }
    
    
    .tela_pc{
    height: 230px;
 
}

.tela_pc:nth-child(1){

    width: 200px;
}

.tela_pc:nth-child(2){
    width: 260px;
}

.tela_pc:nth-child(3){
     width: 200px;

 }
   

.tela_pc:nth-child(2) img{
    height: 180px;
}
    
    
    
  
}

@media(max-width:600px){
    .tela_pc{
    height: 200px; 
}
.tela_pc:nth-child(1){

    width: 160px;
}

.tela_pc:nth-child(2){
    width: 260px;
}

.tela_pc:nth-child(3){
     width: 160px;

 }
    
   .tela_pc:nth-child(2) img{
    height: 150px;
  }
    
    .tela_pc:nth-child(1) img{
    height: 100px;
  }
    .tela_pc:nth-child(3) img{
    height: 100px;
  }
  #sobre{height: 360px;}

}
.svg-icon {
  width: 3em;
  height: 2em;
  cursor: pointer;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: white;
}

.svg-icon circle { stroke: white; }

a:active, a { color: black; }

/* Left menu */
.leftmenu {
    width: auto;
    height: 100%;
    max-width: 200px;
    margin: 5px 5px;
    overflow: hidden;
    position: relative;
    background-color: white;
    color:#edf5c2;
}

.categorias-titulo {
    width: auto;
    background-color: #293d3e;
    margin: 10px 5px 0px 0px;
    border-radius: 0px 50px 50px 0px;
    -webkit-border-radius: 0px 50px 50px 0px;
}

.leftmenu p:not(.categorias-titulo) { 
    padding: 0px 10px; 
    margin: 5px 0px;  
}

.leftmenu a:hover { color: red; }

.leftmenu{
    border: 1px solid rgba(87, 87, 87, 0.945);
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* Footer */
footer{
    background:#223330;
    width: auto;
    height: auto;
    margin-top:100px;
    color: white;
    font-size: 12px;
    line-height: 50px;
    padding:  2em 5em;
}

footer ul{ height: 100%; }

footer ul , #Logo, .siga, 
.collaborators, .collaborators a{ display: flex; }

footer ul , #Logo{ justify-content: space-between; }

#Logo, .siga, .collaborators,
.collaborators a{ align-items: center; }

#Logo img{
    margin: 0 10px;
    width: 100px;
    height: 100px;
}

footer ul li .footer-link-content a{
    display: block;
    width: auto;
}

footer ul li:nth-child(3) .footer-link-content a{ width: auto; }

footer ul li:nth-child(3) h3{ margin-bottom: 10px; }

footer ul li:nth-child(2) .footer-link-content p{ margin-top: 10px; }

footer ul li:last-child{ margin: 0 8rem 0 0; }

footer ul li .footer-link-content a:hover{ color: #fe42e0; }

#checkGit{ display: none; }

label[for="checkGit"], #checkGit { 
    right: 215px;
    cursor: pointer;
 }

label[for="checkGit"] img:hover{ opacity: 1; }

label[for="checkGit"] img, .collaborators a, 
#container-git-collaborators{
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

label[for="checkGit"] img{
    opacity: 0.5;
    width: 50px;
    height: 50px;
    border-radius: 70%;
    -webkit-border-radius: 70%;
}

#container-git-collaborators{
    width: 100%;
    max-width: 180px;
    display: block;
    padding: 0 0 0 5px;
}
 
#git-collaborators-list{ margin: 0 15px 0 20px; }

.collaborators{
    height: 50px;
    margin: 2px 0;
}

.collaborators a{
    position: absolute;
    transform: scale(0);
    margin: 5px;
    padding: 5px;
    width: 25px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    background-color: #171516;
    transition-timing-function: ease;
    box-shadow: 1px 2px 5px 1px black;
}

.collaborators a:hover{
    cursor: pointer;
    width: 170px;
    background-color: #1f1c1d;
}

.collaborators img{
    transition: all 1s;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
}

.collaborators p{ 
    margin: 0 0 0 10px;
    color: white;
    display: none;
 }

@media(max-width: 600px){

    footer ul , #Logo{ 
        flex-direction: column;
        align-items: center;
     }

    footer ul li{ margin: 0 0 3rem 0;}
    
    footer ul li:nth-child(3){ margin: 0 20px 3rem 0; }
    
    footer ul li:last-child{ margin: 0 2rem 0 0; }

 }

@media(max-width: 990px){

    footer ul , #Logo{ 
        flex-direction: column;
        align-items: center;
     }

    footer ul li{ margin: 0 0 3rem 0;}
    
    footer ul li:nth-child(3){ margin: 0 20px 3rem 0; }
    
    footer ul li:last-child{ margin: 0 2rem 0 0; }

 }
