/* Products CSS */
* { box-sizing: border-box; }

#logo{
    width: 80vw;
    margin: 0px auto;
    display: none;
}
table{
    display: none;  
    margin-top: 50px; 
    margin-left: 10px;}

table, td, th{ border-collapse: collapse; }

td{ word-break: break-all; }

td,th{
    text-align: left;
    padding: 5px;
    border: 1px solid black;
}

th{ 
    width: 40%;
    background: #ccc; 
}

caption{
    color: #4527a0;
    font-weight: bold;
    font-size: 14pt;
    text-align: left;
}
#logo img{ width: 100%; }

#layout-block-content {
    width: 100%;
    display: flex;
    padding: 10px 10px 10px 5px;
}

#produtcs-container {
    width: 80%;
    padding: 10px;
    margin: 5px auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.1rem ;
    border: 1px solid rgba(87, 87, 87, 0.945);
    border-radius: 5px;
}

.product-content {
    display:grid;
    grid-area: "card-img" "card-disc";
    grid-template-columns: 100%;
    grid-template-rows: 173px 150px;
    width: calc(200px - 1px);
    overflow: hidden;
    margin: 0.5rem 0.4rem;
    padding: 15px 10px;
    transition: transform 1s;
    cursor: pointer;
    border:1px solid #ccc;
    border-radius: 5px;
    height: 365px;
}

.product-content p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product-content img {
    grid-area: card-img;
    width: auto;
    height: 80%;
} 

.product-content .images #img_amost {
    grid-area: card-img;
    display: flex;
    margin: auto;
    width: auto;
    max-width: 160px;
    height: 80%;
} 

.info h3{
    font-size: 14pt; 
    font-weight:bold;
    margin-top: 15px;
}


.info .tech-specifications{
    margin: auto;
    font-size: 9pt;
}

.product-content:hover{
    box-shadow: 1px 1px 1px 1px #293d3e;
    border: 1px solid #293d3e;
    transform: scale(1.01);
}

.info .preco::before{
    content: "R$ ";
    color: green;
}

/* Modal CSS */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    border: 1px solid black;
    background: white;
    width: 95%;
    height: 95%;
    overflow-y: scroll;
    z-index: 10;
    transition: 200ms ease-in-out;  
    overflow-x: hidden;
    padding: 5px;
    scrollbar-color: rgba(0,0,0,0.8) transparent ;
    scrollbar-width: thin;
}

/*Estilizando a scrollbar do modal */
.modal::-webkit-scrollbar{
    width: 5px;
}




.modal::-webkit-scrollbar-thumb{
    width: 5px;
    background: rgba(0,0,0,0.5);
    border-radius: 20px;
}




.modal::-webkit-scrollbar-thumb:hover
{
    background:rgba(0,0,0,0.8);
}




/* --------------------------------------- */
.modal table{display: block;}

.modal img {
    width: auto;
    height: 282px;
 }
    
.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
    
.close {
    margin: 0px 10px;
    font-size: 40px;
    border: none;
    background: none;
    outline: none;
}
    
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 200ms ease-in-out;
}
    
button { cursor: pointer; }

.gal_img { cursor: pointer; }
    
.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.modal.active { transform: translate(-50%,-50%) scale(1); }
    
.content .tech-specifications { display: block; }

.img_invisible {
    float: left;
    display: none;
    cursor: pointer;
    border: 1px solid black;
    margin-top: 10px;
}

.img_invisible:hover{ box-shadow: 5px 5px 5px #ccc; }

.content .images {
    width: 450px;
    margin: auto;
    padding: 5px;
    height: 400px;
    margin-top: 20px;
    overflow: hidden;
    border: 1px solid black;  
}
    
.content .images img {
    margin: 5px 5px;
    width: auto;
    height: 70px;
    display: block;
    
}
    
.content #img_amost {
    width: auto;
    height: 250px;
    margin: auto;
}
    
.content .info {
    width: 60%;
    height: auto;
    border: 1px solid black;
    overflow: hidden;
    margin-top: 20px;  
    margin-right: 20px;
    padding:0px 10px 10px 10px;
}
    
.content {
    display:inline-flex;
    width: 100%;
}

.content .info .tech-specifications {
    font-size: 12pt;
    margin-top: 30px;
}


/* Responsiveness CSS */
@media(max-width:790px){
    .content{
        display: block;
        width: 100%;
    }
    .content .info{
        width: 95%;
        margin: auto;
        margin-top: 20px    
    }
    
    .content .info p{ margin:10px }
    
    .content .images { width: 100%; }
         
} 

@media(max-width:500px){

    #logo{ width: 95%; }

    #produtcs-container { padding: 0.2rem; }
    
    .product-content { margin: 0.5rem auto; }
    
}

object{ height: 100vh; }

