/* #4527a0 */
form{
    background-color: aliceblue;
    display: flex;
    height: auto;
    width: 100%;
    padding: 50px;
    margin: 0 auto 10px auto;
}
#register-container:not(.info-popup), #login-container{
    position: relative;
    border: 1px solid;
    border-radius: 5px;
    width: auto;
    padding: 10px;
    height: auto;
}

#login-container{
    margin: 0 10px 0 0;
    width: 100%;
}

.title-login-register p:first-child{
    font-weight: bold;
    font-size: 1.5em;
}

.title-login-register p{ 
    color: white;
    margin: 5px 0px;
 }

.title-login-register{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    background-color: orangered;
}

#login-container input, 
#register-container input{ display: block; }

#phone-container, #date-gender-container, 
#addressStr-container, #addressNeighZip-container{
    width: 100%;
    display: inline-flex
}

.info-popup{
    z-index: 1;
    position: absolute;
    right: 10px;
    width: auto;
    margin: 10px 10px 10px 0;
    height: auto;
    display: none;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
    background-color: #f0eff5;
}

input{
    width: 100%;
    height: 50px;
    padding: 20px;
    margin: 5px 0 5px 0px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

/* gender */
select{
    width: 55%;
    height: 50px;
    margin: 5px 0px;
    padding: 0px 25px;
    border-radius: 5px;
    border: 1px solid lightgray;
    content: "*";
}

input[name="login-email"],
input[name="register-nome"]{ margin: 80px 0 0 0; }

/* register input's */
input[name="register-DD"]{ width: 15%; }

input[name="register-date"]{ width: 45%; }

input[name="register-date"],
input[name="register-DD"],
input[name="register-endereço"],
input[name="register-bairro"]{ margin: 5px 5px 0 0; }

input[name="register-nRua"],
input[name="register-CEP"]{ width: 30%; }

input[name="register-date"],
input[type="submit"]{ padding: 15px 20px; }

input[type="submit"]{
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    background-color: orangered;
}

@media(max-width: 500px){
    input{ width: 100%; }

    form{ 
        display: block;
        width: 90vw;
    }

#register-container, #phone-container,
#date-gender-container, #addressStr-container, 
#addressNeighZip-container{ display: block; }

    #login-container{ margin: 0 0 15px 0; }

    input[name="register-DD"],
    input[name="register-date"],
    input[name="register-nRua"],
    input[name="register-CEP"]{ width: 100% !important;}

    select{
        width: 100%;
        height: 50px;
        margin: 5px 0 0 0;
        padding: 0px 25px;
    }
}

@media(max-width: 700px){

    form{
        display: block;
        width: 90vw;
    }

    #register-container, #phone-container,
    #date-gender-container, #addressStr-container, 
    #addressNeighZip-container{ display: block; }

    #login-container{ margin: 0 0 15px 0; }

    input[name="register-DD"],
    input[name="register-date"],
    input[name="register-nRua"],
    input[name="register-CEP"]{ width: 100% !important;}

    select{
        width: 100%;
        height: 50px;
        margin: 5px 0 0 0;  
        padding: 0px 25px;
    }
}

@media(max-width: 1120px){
    form{ display: block; }

    #login-container{ margin: 0 0 15px 0; }
}

 /* Chrome, Safari, Edge, Opera */
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }